<div class="product-item">
    <button [disabled]="!product.isAvailable" class="add-to-cart" (click)="onAddToCart()">Add to Cart</button>
    <ul>
        <h3 class="product-info">Product information: {{ product.name }}</h3>
        <ul class="product-detailed-info">
            <li>Price: {{ product.price | currency:'USD':'symbol':'3.2-2' }}</li>
            <li>Onstock: {{ product.isAvailable }}</li>
            <li>Description: {{ product.description }}</li>
            <li>Category: <span *ngFor="let category of product.category">{{ category | uppercase }}<br></span></li>
        </ul>
            <p class="product-specs-header">Specifications</p>
        <ul class="product-specs-list">
            <li *ngFor="let spec of product.specs">{{ spec }}</li>
        </ul>
    </ul>
</div>
