.cart-container {
    margin: 20px;
    background-color: beige;
    border-radius: 4px;
    padding: 10px;
}

.cart-item-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 900px;
}

.sorter-controls {
    position: absolute;
    display: block;
    list-style: none;
    top: 25px;
    left: 100px;
    padding: 0;
}

.sorter-class-price,
.sorter-class-amount,
.sorter-class-name {
    display: inline-block;
    margin: 0 5px 0 0;
    background-color: bisque;
    border: 1px solid black;
    border-radius: 2px;
    padding: 4px;
    cursor: pointer;
}
